* {
  -webkit-overflow-scrolling: touch;
}

html {
  overflow-y: scroll;
}

body {
  overflow: auto;
  background-color: #202020;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border: none;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}
::-webkit-scrollbar-thumb:active {
  background: #989696;
}
::-webkit-scrollbar-track {
  background: #000;
  border: none;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #000;
}
::-webkit-scrollbar-track:active {
  background: #000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.navbar-brand {
  font-size: 2em;
}
.nav-item {
  transition: background 0.3s;
}
.nav-item.active {
  border-bottom: 2px solid white;
}
.navbar-dark .navbar-nav .nav-link {
  font-size: 1.3em;
  color: #ffffff;
}
#language-choice {
  width: 35px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 10px;
}
#language-choice>div {
  position: absolute;
  width: 35px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  transition: top 0.5s, bottom 0.5s, left 0.5s, right 0.5s;
}
#lng-cnt-0 {
  z-index: 3;
}
#lng-cnt-1 {
  z-index: 2;
}
#lng-cnt-2 {
  z-index: 1;
}
.lng-cnt {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100%;
}
.lng-bdg {
  width: 35px;
  height: 35px;
  border: none;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.5s;
}
.lng-bdg:focus {
  outline: none;
}
#lng-cnt-1 a {
  background-image: url('/media/de.svg');
  opacity: 0;
}
#lng-cnt-2 a {
  background-image: url('/media/en.svg');
  opacity: 0;
}
#auth-button {
  background-color: #1aab26;
  border-radius: 5px;
}
#auth-button:hover {
  cursor: pointer;
}
#auth-button.loggedin {
  background-color: #0e59dc;
}
#auth-button a:focus {
  color: #ffffff;
  /*Fixing Bootstrap...*/
}
#login-container, #profile-info {
  position: relative;
  z-index: 1;
  display: none;
}
#login-container form, #profile-info>div {
  position: absolute;
  top: 110%;
  left: -28vw;
  width: 30vw;
  background-color: #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #5f5f5f;
  filter: drop-shadow(1px 2px 8px #000);
}
#login-container input {
  width: 100%;
  margin: 5px 0;
  border: 1px solid #5f5f5f;
  border-radius: 3px;
  padding: 3px 5px;
}
#login-container input[type="checkbox"] {
  width: auto;
  margin-left: 5px;
}
#login-container button {
  display: block;
  margin: 5px 0;
  border: 1px solid #5f5f5f;
  border-radius: 3px;
  background-color: #0ec500;
}
#login-failed {
  display: none;
  color: #ff0000;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
}
#profile-info>div {
  left: -32vw;
  width: 35vw;
  border-radius: 3px;
  border: none;
  background-color: #202020;
}
.profile-teaser {
  height: 50px;
}
.profile-avatar {
  width: 50px;
  height: 50px;
  float: left;
  color: #ffffff;
}
.profile-avatar {
  line-height: 50px;
  font-size: 45px;
  margin: 0 5px;
}
.profile-name {
  font-weight: 500;
  line-height: 25px;
  color: #ffffff;
}
.profile-rank {
  font-weight: 500;
  line-height: 15px;
  color: #ffffff;
  margin: 2px 0;
}
#profile-info a {
  display: block;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  padding: 3px 0;
  margin: 10px 0 5px 0;
  transition: 0.3s;
}
#profile-info a:hover {
  text-decoration: none;
}
.profile-info-settings {
  background-color: #001da2;
}
.profile-info-logout {
  background-color: #dc0e0e;
}
#login-container a {
  display: block;
  cursor: pointer;
}
#login-container a, #login-container div.pwReset {
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  font-style: italic;
}
#login-container div.pwReset {
  color: #ff0000;
  display: none;
}
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
#loading>div {
  width: 10vh;
}
#loading>div>div {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: url("https://thumbs.gfycat.com/SkinnySeveralAsianlion-size_restricted.gif"); */
  background-image: url("../media/ld5.svg");
}
#loading>div>div::before {
  content: "";
  display: inline-block;
  margin-top: 100%;
}
#page-content {
  background-color: #303030;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #ffffff;
  padding: 40px;
  display: none;
}
#footer {
  color: #ffffff;
  background-color: #171717;
  overflow: hidden;
  display: none;
}
#footer a {
  color: #ffffff;
  float: left;
  margin: 0;
  padding: 5px 15px;
}
#footer a:last-child {
  float: right;
}
#cookie-info {
  display: none;
  position: fixed;
  left: 0; right: 0; bottom: 0;
  margin: 10px;
  padding: 10px;
  background-color: #ffc107;
  border-radius: 10px;
  z-index: 16;
}
#cookie-info>a {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}
#cookie-info button {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  color: #ffffff;
  cursor: pointer;
}

@media (pointer: fine) {
  .nav-item:hover:not(#language-choice):not(#auth-button):not(#profile-info) {
    background-color: #303030;
  }
  #auth-button:hover {
    background-color: #44b64d;
  }
  #auth-button.loggedin:hover {
    background-color: #3f73cc;
  }
  .nav-item:hover {
    transition: 0.3s;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  .profile-info-settings:hover {
    background-color: #011986;
  }
  .profile-info-logout:hover {
    background-color: #ad0a0a;
  }
  .lng-bdg {
    transition: background-image 0.5s, opacity 0.5s;
  }
}

@media screen and (max-width: 767px) {
  #navcontainer {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  .nav-item {
    padding-left: 10px;
  }
  .nav-item.active {
    border: 1px solid white;
  }
  #page-content {
    margin: 35px 20px 35px 20px;
    width: auto;
    max-width: none;
    padding: 25px;
  }
  #login-container, #profile-info {
    position: block;
    padding: 10px 0;
  }
  #login-container form, #profile-info>div {
    position: static;
    width: 100%;
    padding: 5px 10px;
    border-radius: 0;
    border: none;
    filter: none;
  }
  #profile-info>div {
    border: 1px solid #5f5f5f;
    border-radius: 10px;
  }
  #login-container input {
    width: 100%;
    margin: 5px 0;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    padding: 3px 5px;
  }
  #login-container button {
    width: 100%;
    margin: 5px 0;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    background-color: #0ec500;
  }
  #language-choice {
    height: 47px;
    margin-bottom: 10px;
  }
  #footer {
    margin: 0 20px;
    width: auto;
    max-width: none;
  }
}

@media screen and (max-width: 525px) {
  .page-top {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    padding-left: 8px;
    padding-right: 8px;
  }
  #page-content {
    margin: 15px 5px 10px 5px;
    padding: 20px;
  }
  #footer {
    margin: 0 5px;
  }
  #footer a, #footer a:last-child {
    display: block;
    padding: 5px;
    float: none;
  }
}
