* {
  -webkit-overflow-scrolling: touch;
}

html {
  overflow-y: scroll;
}

body {
  overflow: auto;
  background-color: #202020;
}

.navbar-brand {
  font-size: 2em;
}
.nav-item {
  transition: background 0.3s;
}
.nav-item.active {
  border-bottom: 2px solid white;
}
.navbar-dark .navbar-nav .nav-link {
  font-size: 1.3em;
  color: #ffffff;
}
#auth-button {
  background-color: #1aab26;
  display: none;
  border-radius: 5px;
}
#auth-button:hover {
  cursor: pointer;
}
#auth-button.loggedin {
  background-color: #0e59dc;
}
#auth-button a:focus {
  color: #ffffff;
  /*Fixing Bootstrap...*/
}
#login-container, #profile-info {
  position: relative;
  z-index: 1;
  display: none;
}
#login-container form, #profile-info>div {
  position: absolute;
  top: 110%;
  left: -28vw;
  width: 30vw;
  background-color: #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #5f5f5f;
  filter: drop-shadow(1px 2px 8px #000);
}
#login-container input {
  width: 100%;
  margin: 5px 0;
  border: 1px solid #5f5f5f;
  border-radius: 3px;
  padding: 3px 5px;
}
#login-container input[type="checkbox"] {
  width: auto;
  margin-left: 5px;
}
#login-container button {
  display: block;
  margin: 5px 0;
  border: 1px solid #5f5f5f;
  border-radius: 3px;
  background-color: #0ec500;
}
#login-failed {
  display: none;
  color: #ff0000;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
}
#profile-info>div {
  left: -32vw;
  width: 35vw;
  border-radius: 3px;
  border: none;
  background-color: #202020;
}
.profile-teaser {
  height: 50px;
}
.profile-avatar {
  width: 50px;
  height: 50px;
  float: left;
  color: #ffffff;
}
.profile-avatar {
  line-height: 50px;
  font-size: 45px;
  margin: 0 5px;
}
.profile-name {
  font-weight: 500;
  line-height: 25px;
  color: #ffffff;
}
.profile-rank {
  font-weight: 500;
  line-height: 15px;
  color: #ffffff;
  background-color: #d000e0;
  margin: 2px 0;
}
#profile-info a {
  display: block;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  padding: 3px 0;
  margin: 10px 0 5px 0;
  transition: 0.3s;
}
#profile-info a:hover {
  text-decoration: none;
}
.profile-info-settings {
  background-color: #001da2;
}
.profile-info-logout {
  background-color: #dc0e0e;
}
#page-content {
  background-color: #303030;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #ffffff;
  padding: 40px;
  display: none;
}
#footer {
  color: #ffffff;
  background-color: #171717;
}
#footer p {
  padding: 10px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .nav-item:hover {
    background-color: #303030;
  }
  .nav-item.login:hover {
    background-color: #44b64d;
  }
  .nav-item.logout:hover {
    background-color: #dd3f3f;
  }
  .nav-item:hover {
    transition: 0.3s;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  .profile-info-settings:hover {
    background-color: #011986;
  }
  .profile-info-logout:hover {
    background-color: #ad0a0a;
  }
}

@media screen and (max-width: 767px) {
  #navcontainer {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  .nav-item {
    padding-left: 10px;
  }
  .nav-item.active {
    border: 1px solid white;
  }
  #page-content {
    margin: 35px 20px 35px 20px;
    width: auto;
    max-width: none;
    padding: 25px;
  }
  #login-container, #profile-info {
    position: block;
    padding: 10px 0;
  }
  #login-container form, #profile-info>div {
    position: static;
    width: 100%;
    padding: 5px 10px;
    border-radius: 0;
    border: none;
    filter: none;
  }
  #profile-info>div {
    border: 1px solid #5f5f5f;
    border-radius: 10px;
  }
  #login-container input {
    width: 100%;
    margin: 5px 0;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    padding: 3px 5px;
  }
  #login-container button {
    width: 100%;
    margin: 5px 0;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    background-color: #0ec500;
  }
}

@media screen and (max-width: 525px) {
  .page-top {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    padding-left: 8px;
    padding-right: 8px;
  }
  #page-content {
    margin: 15px 5px 10px 5px;
    width: auto;
    max-width: none;
    padding: 20px;
  }
}
