body {
  overflow: auto;
  background-color: #202020;
}

.navbar-brand {
  font-size: 2em;
}
.nav-item {
  transition: 0.3s;
}
.nav-item.active {
  border-bottom: 2px solid white;
}
.nav-item:hover {
  background-color: #303030;
}
.navbar-dark .navbar-nav .nav-link {
  font-size: 1.3em;
  color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
}


#header-teaser {
  position: relative;
  width: 100%;
  /*padding-bottom: 62.5%;*/
  padding-bottom: 40%;
}
#header-teaser div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("img/header01.jpg");
  background-position: center;
  background-size: cover;
}


#page-title {
  margin-top: 50px;
}
.jumbotron {
  color: #ffffff;
  background-color: #5f5f5f;
  padding: 1em 2em;
}
.jumbotron h1 {
  font-size: 4em;
}
.jumbotron p {
  font-size: 1.5em;
}


#page-content {
  background-color: #303030;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #ffffff;
  padding: 40px;
}

.youtube-fitter {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin: 30px 0;
}
.youtube-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.youtube-frame {
  width: 100%;
  height: 100%;
  border: 5px solid black;
  transition: border 1s;
}
.youtube-frame:hover {
  border-color: #a80000;
  transition: border 0.5s;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #5f5f5f;
  margin: 30px 0;
}
.gallery-row {
  flex: 33%;
}
.gallery-column {
  position: relative;
  padding-bottom: 100%;
  margin: 10px;
}
.gallery-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: center;
  background-size:  cover;
  background-repeat: no-repeat;
  background-color: #000000;
  outline: 1px solid #000000;
  transition: 0.3s;
}
.gallery-image:hover {
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  outline: 5px solid #ffffff;
  transition: 0.3s
}

.img-container {
  background-color: #5f5f5f;
  padding: 20px;
}
.img-container img {
  display: block;
  width: 100%;
  outline: 3px solid rgba(0, 0, 0, 0);
  transition: 0.5s;
}
.img-container img:hover {
  outline: 3px solid #ffffff;
  transition: 0.5s;
}
.img-container > p {
  margin: 0;
  margin-top: 5px;
  line-height: 1.3;
  font-size: 0.9em;
}

#comments {
  background-color: #303030;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #ffffff;
  padding: 40px;
}
#comments > h4 {
  margin-bottom: 10px;
}
.comment, .comment-insert {
  background-color: #5f5f5f;
  margin: 10px 0;
  padding: 10px;
}
.comment-content {
  margin: 0 10px;
  padding: 10px 15px;
  border-left: 3px solid #ffffff;
}
.comment-info {
  margin-bottom: 10px;
}
.comment-avatar {
  width: 50px;
  height: 50px;
  font-size: 50px;
  vertical-align: center;
  float: left;
  margin-right: 10px;
}
.comment-avatar > span {
  display: block;
}
.comment-author {
  font-weight: bold;
}
.comment-author > span {
  background-color: #d000e0;
}
.comment-time {
  font-style: italic;
}
.comment-text > p {
  margin: 3px;
}
.comment-controll {
  display: flex;
  margin: 10px 0;
}
.comment-controll > a {
  display: block;
  color: #ffffff;
  padding: 3px 8px;
  font-size: 0.8em;
  margin: 0 3px;
  transition: 0.3s;
}
.comment-controll > a:nth-child(1) {
  background-color: #00b107;
}
.comment-controll > a:nth-child(1):hover {
  background-color: #00a206;
  text-decoration: none;
}
.comment-controll > a:nth-child(2) {
  background-color: #ffa500;
}
.comment-controll > a:nth-child(2):hover {
  background-color: #d68a00;
  text-decoration: none;
}
.comment-controll > a:nth-child(3) {
  background-color: #ff3a3a;
}
.comment-controll > a:nth-child(3):hover {
  background-color: #D83a3a;
  text-decoration: none;
}
.comment-controll > a:first-child {
  margin-left: 0;
}
.comment-insert > textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  resize: none;
  padding: 15px;
}
.comment-insert > a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #00bf0d;
  color: #ffffff;
}
.comment-replies > h6 {
  display: block;
}
.comment-replies > h6:last-child {
  display: none;
}
.comment-reply, .comment-reply-insert {
  background-color: #7f7f7f;
  margin: 0 10px;
  padding: 10px 15px;
  border-left: 3px solid #ffffff;
}
.comment-reply::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #adadad;
}
.comment-reply:last-child::after {
  display: none;
}
.comment-reply-info {
  margin-bottom: 10px;
}
.comment-reply-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
  vertical-align: center;
  float: left;
  margin-right: 10px;
}
.comment-reply-avatar > span {
  display: block;
}
.comment-reply-author {
  font-weight: bold;
  font-size: 14px;
}
.comment-reply-author > span {
  background-color: #d000e0;
}
.comment-reply-time {
  font-style: italic;
  font-size: 14px;
}
.comment-reply-text > p {
  margin: 3px;
  font-size: 14px;
}
.comment-reply-controll {
  display: flex;
  margin: 10px 0;
  font-size: 13px;
}
.comment-reply-controll > a {
  display: block;
  color: #ffffff;
  padding: 3px 8px;
  font-size: 0.8em;
  margin: 0 3px;
  transition: 0.3s;
}
.comment-reply-controll > a:nth-child(1) {
  background-color: #ffa500;
}
.comment-reply-controll > a:nth-child(1):hover {
  background-color: #d8a500;
  text-decoration: none;
}
.comment-reply-controll > a:nth-child(2) {
  background-color: #ff3a3a;
}
.comment-reply-controll > a:nth-child(2):hover {
  background-color: #d83a3a;
  text-decoration: none;
}
.comment-reply-controll > a:first-child {
  margin-left: 0;
}
.comment-reply-controll > a, .comment-controll > a {
  background-color: #303030;
}
.comment-reply-insert > textarea {
  display: block;
  width: 100%;
  min-height: 100px;
  resize: none;
  padding: 15px;
  font-size: 1em;
}
.comment-reply-insert > a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #00bf0d;
  color: #ffffff;
}


#footer {
  color: #ffffff;
  background-color: #171717;

}
#footer p {
  padding: 10px;
  margin: 0;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 900px) {
  .image-gallery {
    padding: 5px;
  }
  .gallery-row {
    flex: 50%;
  }
  .gallery-column {
    margin: 5px;
  }
  .gallery-image {
    outline: 1px solid #000000;
  }
  .gallery-image:hover {
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    outline: 3px solid #ffffff;
  }
  .img-container {
    padding: 10px;
  }
  .img-container img {
    outline-width: 3px;
  }
  .img-container img:hover {
    outline-width: 3px;
  }
}


@media screen and (max-width: 767px) {
  #navcontainer {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  .nav-item {
    padding-left: 10px;
  }
  .nav-item.active {
    border: 1px solid white;
  }
  .jumbotron>h1 {
    font-size: 2.2em;
  }
  .jumbotron>p {
    font-size: 1.3em
  }
  .jumbotron {
    padding: 1em;
    margin: 0;
  }
  #page-title {
    margin: 0;
    margin-top: 35px;
    padding: 0 20px;
    max-width: none;
  }
  #page-content, #comments {
    margin: 35px 20px 35px 20px;
    width: auto;
    max-width: none;
    padding: 25px;
  }
}

@media screen and (max-width: 525px) {
  .page-top {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    padding-left: 8px;
    padding-right: 8px;
  }
  .jumbotron>h1 {
    font-size: 1.7em;
  }
  .jumbotron>p {
    font-size: 1em;
  }
  .jumbotron {
    padding: 0.5em;
    margin: 0;
  }
  #page-title {
    margin: 0;
    margin-top: 15px;
    padding: 0 5px;
    max-width: none;
  }
  #page-content, #comments {
    margin: 15px 5px 10px 5px;
    width: auto;
    max-width: none;
    padding: 20px;
  }
  .image-gallery {
    padding: 3px;
  }
  .gallery-row {
    flex: 100%;
  }
  .gallery-column {
    margin: 3px;
  }
  .gallery-image {
    outline: 1px solid #000000;
  }
  .gallery-image:hover {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    outline: 1px solid #ffffff;
  }
  .img-container {
    padding: 6px;
  }
  .img-container img {
    outline-width: 1px;
  }
  .img-container img:hover {
    outline-width: 1px;
  }
  .comment {
    padding-left: 0;
    padding-right: 0;
  }
  .comment-controll > a, .comment-reply-controll > a {
    margin: 0;
  }
  .comment-content {
    margin: 0 5px;
    padding: 10px;
    border-width: 2px;
  }
  .comment-reply, .comment-reply-insert {
    margin: 0;
    padding: 10px;
    border-width: 2px;
  }
}
